<div class="login-page">
    <!-- Left Side Background with Ship -->
    <div class="left-side">
        <img src="assets/background.png" alt="Ship Background" class="ship-image" />
    </div>

    <!-- Right Side Login Form -->
    <div class="right-side">
        <div class="login-container">
            <!-- <div class="logo text-center mb-3">
                <img src="assets/logo (1).png" alt="Overseas Logo" class="logo-img" />
            </div> -->
            <h2 class="text-center logo-text mb-4">Overseas</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="mb-3 input-group animated-input">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input type="text" formControlName="username" class="form-control" placeholder="User name"
                        required />
                </div>
                <div class="mb-3 input-group animated-input">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        required />
                </div>
                <button class="btn btn-login w-100" type="submit" [disabled]="loginForm.invalid || loading">
                    {{ loading ? 'Logging in...' : 'Login' }}
                </button>
                <p *ngIf="errorMessage" class="text-danger mt-2 text-center">{{ errorMessage }}</p>
            </form>
        </div>
    </div>
</div>